<section class="banner container">
  <h1 class="banner-title">稳定、快速、现代的镜像服务。</h1>
  <p class="banner-subtitle">托管于华东教育网骨干节点上海交通大学。</p>
</section>

<style>
.banner {
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.banner-title {
  margin: 0;
  font-size: 1.5rem;
  line-height: 1.15;
  font-weight: 900;
  background-image: linear-gradient(135deg, var(--gradient-from), var(--gradient-to));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@media (min-width: 36em) {
  .banner-title {
    font-size: 2.25rem;
  }
}

@media (min-width: 48em) {
  .banner-title {
    font-size: 2.75rem;
  }
}

.banner-subtitle {
  margin: 0.25rem 0 0;
  font-size: 1rem;
  font-weight: 300;
}

@media (min-width: 36em) {
  .banner-subtitle {
    font-size: 1.125rem;
  }
}

@media (min-width: 48em) {
  .banner-subtitle {
    font-size: 1.5rem;
  }
}
</style>
