---
import imgSjtugRocket from "@/assets/sjtug_rocket.svg";
import imgSjtugText from "@/assets/sjtug_text.svg";
---

<header class="navbar">
  <div class="container">
    <a class="brand" href="/">
      <span class="logo">
        <img class="logo-rocket" src={imgSjtugRocket.src} alt="SJTUG Logo" />
        <img class="logo-text" src={imgSjtugText.src} alt="SJTUG" />
      </span>
      <span class="logo-title">软件源镜像服务</span>
    </a>
  </div>
</header>
