.sjtug-docs {
    --mantine-color-anchor: var(--mantine-color-blue-text) !important;

    pre {
        margin: 0 0 24px !important;
        padding: 0;
    }

    pre code {
        /*color: var(--mantine-color-white);*/
        /*background: hsla(0, 0%, 0%, 0.04);*/
        border: 0;
        border-radius: 3px;
        display: block;
        font-size: 16px;
        line-height: 20px;
        overflow: scroll;
        padding: 12px;
        white-space: inherit;
        word-wrap: normal;
    }

    code {
        /*background-color: hsla(0, 0%, 0%, 0.04);*/
        font-size: 16px;
        border-radius: 3px;
        padding: 0.2em 0;
        overflow-wrap: break-word;
    }
}