$link-color: #495057 !default;
@import "~bootstrap/scss/bootstrap.scss";
@import "./common.scss";

.bg-sjtug {
  background-image: $sjtug-gradient;
}

.list-footer {
  li {
    margin-bottom: 0.5rem;
  }
}

.text-sjtug {
  background: $sjtug-gradient-text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title-sjtug {
  font-weight: 900;
  letter-spacing: 0.15rem;
}
