---
import Navbar from "@/components/Navbar.astro";
import Footer from "@/components/Footer.astro";
import "@/styles/global.css";

import imgIconPng from "@/assets/icon.png";
import imgAppleIconPng from "@/assets/apple-icon.png";

interface Props {
  title?: string;
  description?: string;
}

const {
  title = "上海交通大学 Linux 用户组 软件源镜像服务",
  description = "上海交通大学 Linux 用户组 软件源镜像服务",
} = Astro.props;
---

<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" sizes="16x16">
    <link rel="icon" href={imgIconPng.src} type="image/png" sizes="192x192">
    <link rel="apple-touch-icon" href={imgAppleIconPng.src} type="image/png" sizes="180x180">
  </head>
  <body>
    <div class="page">
      <Navbar />
      <main class="content">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
