name: Release

on:
  push:
    branches:
      - v3

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js 14
      uses: actions/setup-node@v1
      with:
        node-version: 14
    - run: npm install --ci
    - run: npm run build --if-present
    - name: clean map files
      run: |
        cd build && find . | grep .map | xargs rm -f
    - name: create tar
      run: |
        tar -C build -czf dists.tar.gz .
    - name: create zip
      run: |
        (cd build && zip -r - .) > dists.zip
    - name: create release
      id: create_release
      uses: actions/create-release@latest
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: untagged-${{ github.sha }}
        release_name: ${{ github.sha }} - ${{ github.event.head_commit.message }}
        body: ${{ github.event.head_commit.message }}
        draft: false
        prerelease: true
    - name: upload release (zip)
      uses: actions/upload-release-asset@v1.0.1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: dists.zip
        asset_name: dists.zip
        asset_content_type: application/zip
    - name: upload release (tar)
      uses: actions/upload-release-asset@v1.0.1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: dists.tar.gz
        asset_name: dists.tar.gz
        asset_content_type: application/tar+gzip
